.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-content {
  padding: 50px 100px;
}

.Header-btn{
  margin-left: 10px;
}

.NoteList {
  text-align: left;
  list-style-type: none;
}

.NoteCard {
  display: inline-block;
  margin : 10px;
  align-items: top;
  vertical-align: top;
}
